html {
    font-size: 16px; /* Base size for body text */
  }

h {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 150%;

}

#title {
    font-size: 250%;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    font-weight: normal;
    margin: 0;
}

.nav-container
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background-color: #19747E;
}

.hamburger {
    cursor: pointer;
    display: none;
}

.navbar
{
    list-style: none;
    display: flex;
    padding: 0;
}

.nav-container li
{
    display: inline-block;
    background-color: #A9D6E5;
    text-align: center;
    border: 2px solid black;
    transition: 0.3s;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
}

li:not(:last-child) { 
    margin-right: 25px;  
 }

.nav-container li a 
{    
    text-decoration: none;
    color: black;
}

.nav-container ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    
}

.nav-container li:hover
{
    height: auto;
    background-color: #D1E8E2;
    color: black;
    transform: scale(1.2);
}

.content
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;
    background-color: #E2E2E2;
}

.brand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    color: white;
}

#logo img {
    width: 30px;
    height: 30px;
}




.column 
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}

.book-Container
{
    flex: 1 1 calc(50% - 20px); /* Automatically adjust width */
    box-sizing: border-box;
    background-color: #444;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* height: 100%; */
    max-height: ;
    padding: 10px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    min-height: 200px;
}

.book-title {
    height: 20%;
}

.book-desc {
    height: 60%;
}

.book-buy {
    height: 20%;
}

.book-image {
    margin: 5px;
    padding: 5px;
    background-color: aliceblue;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 5px;
}

.book-image img {
    max-width: 100%;
    height: auto;
}

.book-info {
    flex: 1;
    margin: 5px;
    padding: 5px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
}

@media screen and (max-width: 1090px) {
    h {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        /* white-space: nowrap;       
        overflow: hidden;          
        text-overflow: ellipsis; 
         */
        display: block ;
    }
    
    p {
        font-family: 'Raleway', sans-serif;
        font-size: 0.8vh;
        font-weight: normal;
        margin: 0;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding: 20px;
    }

    .column {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .nav-container {
        flex-direction: column;
    }
    
    .navbar {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    li:not(:last-child) {
        margin-right: 0;
    }

    .navbar.active {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .hamburger {
        display: block;
    }

    .book-title {
        height: 10%;
        width: 38%;
    }
    
    .book-desc {
        display: flex;
        height: 80%;
        align-items: center;
    }
    
    .book-buy {
        height: 10%;
    }
    /* .book-image img {
        width: 100%;
        max-height: 400px;
    } */
}
