h {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;

}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 2vw;
    font-weight: normal;
}

.nav-container
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background-color: #19747E;
}

.hamburger {
    cursor: pointer;
    display: none;
}

.navbar
{
    list-style: none;
    display: flex;
    padding: 0;
}

.nav-container li
{
    display: inline-block;
    background-color: #A9D6E5;
    text-align: center;
    border: 2px solid black;
    transition: 0.3s;
    padding: 0px 10px 0px 10px;
}

li:not(:last-child) { 
    margin-right: 25px;  
 }

.nav-container li a 
{    
    text-decoration: none;
    color: black;
}

.nav-container ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    
}

.nav-container li:hover
{
    height: auto;
    background-color: #D1E8E2;
    color: black;
    transform: scale(1.2);
}

.content
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;
    background-color: #E2E2E2;
}

.brand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    color: white;
}

#logo img {
    width: 30px;
    height: 30px;
}


.column 
{
    display: flex;
    flex-direction: column;
    gap: 20px 20px;
    width: 50%;
}

.book-Container
{
    background-color: #444;
    height: 420px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;

}

.book-title {
    display: flex;
    justify-content: center;

}

.book-desc {
    height: 60%;
}

.book-buy {
    height: 10%;
}

.book-image {
    width: 50%;
    height: 100%;
    margin: 5px;
    padding: 5px;
    min-height: 300px;
    background-color: aliceblue;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 5px;
}

.book-image img {
    height: auto;
    max-height: 76%;
    object-fit: contain;
}

.book-info {
    width: 50%;
    height: 100%;
    margin: 5px;
    padding: 5px;
    min-height: 300px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

@media screen and (max-width: 1090px) {
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding: 20px;
    }

    .column {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .nav-container {
        flex-direction: column;
    }
    
    .navbar {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    li:not(:last-child) {
        margin-right: 0;
    }

    .navbar.active {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .hamburger {
        display: block;
    }

    .nav-container li
    {
        
    }
}
