.nav-container
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#navbar
{
    list-style: none;
    display: flex;
    padding: 0;
}

.nav-container li
{
    display: inline;
    border: 2px solid black;
}

.nav-container li a 
{
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding: 8px 15px;
    transition: 0.3s;
    color: white;
}

.nav-container ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-container li a:hover
{
    background-color: #ddd;
  color: black;
}

.content
{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.column 
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.book-Container
{
    background-color: #444;
    max-width: 600px; 
    aspect-ratio: 3 / 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    height: 350px;
}

.book-Container div {
    width: 50%;
    height: auto;
    margin: 5px;
    padding: 5px;
}

.book-image {
    background-color: aliceblue;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.book-image img {
    max-width: 95%;
    padding: 10%;
    object-fit: contain;
}

.book-info {
    background-color: bisque;
}

@media screen and (max-width: 1090px) {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 20px;
    }
    

    .column {
        width: 100%;
    }
    
}
